<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DOCKER_CONTEXT</key>
		<string>__CONTEXT__</string>
		<key>HOME</key>
		<string>__HOME__</string>
		<key>P4_CPA_RUNTIME</key>
		<string>__RUNTIME__</string>
		<key>PATH</key>
		<string>__PATH__</string>
	</dict>
	<key>Label</key>
	<string>codes.p4.cpa.backup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__REPO__/scripts/backup.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>__LOGS__/backup.log</string>
	<key>StandardOutPath</key>
	<string>__LOGS__/backup.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
	<key>Umask</key>
	<integer>63</integer>
	<key>WorkingDirectory</key>
	<string>__REPO__</string>
</dict>
</plist>
